
@function px-to-vw($current-screen-width, $size) {
    $result: ($size / $current-screen-width) * 100;
    $rounded: ceil($result * 100) / 100;
    @return $rounded * 1vw;
  }

@function resize-element($initial-screen-width, $initial-size, $target-screen-width) {
    $result: ($initial-size / $initial-screen-width) * $target-screen-width;
    $rounded: ceil($result * 100) / 100;
    @return $rounded;
}

@function resize(
    $initial-size,
    $initial-screen-width: $screen-width,
    $small-screen-size: $small-screen,
    $large-screen-size: $large-screen
) {
    @return clamp(
        resize-element($initial-screen-width, $initial-size, $small-screen-size),
        px-to-vw($initial-screen-width, $initial-size),
        resize-element($initial-screen-width, $initial-size, $large-screen-size)
    );
}