@mixin max-width($threshold: $small-screen) {
    @media screen and (max-width: $threshold) {
        @content;
    }
}

@mixin min-width($threshold: $small-screen) {
    @media screen and (min-width: $threshold) {
        @content;
    }
}

@mixin on-hover() {
    &:is(:hover, :focus-visible, :active) {
        @content;
    }
}

@mixin golden-btn {
    all: unset;
    display: block;
    color: $golden-color;
    border-color: $golden-color;
    font-size: resize(15px);
    border-width: resize(2px);
    border-style: solid;
    border-radius: 2em;
    padding: resize(13px) resize(26px);
    text-transform: uppercase;
    width: max-content;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    @include on-hover() {
        background-color: $golden-color;
        color: #141d33;
    }

    @include max-width() {
        font-size: 9px;
        padding: 7.5px 15px;
    }
}

@mixin home-section($img-width, $img-height, $img-mb-width, $img-mb-height, $gap, $gap-mb, $flag) {
    display: flex;
    align-items: center;
    gap: resize($gap);

    @include max-width() {
        gap: $gap-mb;
        flex-direction: column;
        @if $flag == true {
            .home-intro__item-content {
                order: -1;
            }
        }
    }

    .home-intro__item-content {
        width: resize(522px);
        @include max-width() {
            width: 100%;
        }
    }

    .home-intro__item-heading {
        @include main-heading();
        width: resize(480px);
        text-align: left;
        margin-bottom: resize(55px);
        @include max-width() {
            width: 100%;
            margin-bottom: 17px;
        }
    }

    .home-intro__item-description {
        @include text-base();
        margin-bottom: resize(30px);
        @include max-width() {
            margin-bottom: 17px;
        }
    }

    .home-intro__item-link {
        @include golden-btn;
        margin-top: resize(48px);
        @include max-width() {
            margin-bottom: 21px;
        }
    }

    .home-intro__item-image {
        object-fit: cover;
        object-position: center;
        width: resize($img-width);
        height: resize($img-height);
        @include max-width() {
            width: $img-mb-width;
            height: $img-mb-height;
        }
    }
}

@mixin blue-section($gap) {
    user-select: none;
    border-radius: resize(12px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $blue-color;

    @include max-width() {
        border-radius: 12px;
        flex-direction: column;
    }

    &-item {
        text-align: center;
        padding-inline: resize($gap / 2);
        padding-block: resize(7px);
        @include footer-fs();
        color: #fff;
        text-transform: capitalize;

        @include max-width() {
            padding-inline: 0;
            padding-block: 19px;
        }

        &:not(:last-of-type) {
            border-right: resize(1px) solid $purple-color;
            @include max-width() {
                border-right: none;
                width: 100%;
                border-bottom: 1px solid $purple-color;
            }
        }
    }

}

@mixin services-section($img-width, $img-height, $img-mb-width, $img-mb-height, $gap, $gap-mb, $flag) {
    display: flex;
    gap: resize($gap);

    @if $flag == true {
        justify-content: flex-end;
    }

    @include max-width() {
        gap: $gap-mb;
        flex-direction: column;
        .services-item__content {
            order: 2;
        }
    }
    
    .services-item__content {
        flex-shrink: 0;
    }

    .services-item__heading {
        @include main-heading();
        margin-bottom: resize(60px);
        text-align: left;
        @include max-width() {
            text-align: center;
            margin-bottom: 40px;

        }
    }

    .services-item__advs {
        @include blue-section(28px);
        margin-bottom: resize(36px);
        @include max-width() {
            margin-bottom: 36px;
         }
    }

    .services-item__description {
        @include text-base;
        color: #fff;
        width: resize(700px);
        margin-bottom: resize(30px);
        @include max-width() {
            width: 100%;
            text-align: center;
            margin-bottom: 36px;
        }
    }

    .services-item__link {
        @include golden-btn();

    }

    .services-item__img {
        flex-grow: 0;
        width: resize($img-width);
        height: resize($img-height);
        object-fit: cover;
        object-position: center;
        @include max-width() {
            width: $img-mb-width;
            height: $img-mb-height;
            margin-inline: auto;
        }
    }
}

@mixin storage-main($img-width, $img-height, $img-mb-width, $img-mb-height, $gap, $gap-mb, $flag, $centered) {
    display: flex;
    gap: resize($gap);

    @if $flag == true {
        justify-content: flex-end;
    }

    @if $centered == true {
        align-items: center;
    }

    @include max-width() {
        gap: $gap-mb;
        flex-direction: column;
        .storage-main__item-content {
            order: -1;
        }
    }

    .storage-main__item-content {
        width: resize(522px);
        @include max-width() {
            width: 100%;
            margin-inline: auto;
        }
    }

    .storage-main__item-heading {
        @include main-heading();
        width: resize(480px);
        text-align: left;
        margin-bottom: resize(40px);
        @include max-width() {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .storage-main__item-description {
        @include text-base();
        margin-bottom: resize(50px);
        @include max-width() {
            margin-bottom: 30px;
        }
    }

    .storage-main__item__flex-group {
        @include storage-flex();
    }

    .storage-main__item-image {
        width: resize($img-width);
        height: resize($img-height);
        object-fit: cover;
        object-position: center;
        @include max-width() {
            width: $img-mb-width;
            height: $img-mb-height;
            margin-inline: auto;
        }
    }
}

@mixin storage-flex {
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: resize(18px);
    width: resize(600px);

    @include max-width() {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    &-item {
        text-align: center;
        padding-inline: resize(15px);
        padding-block: resize(7px);
        font-size: resize(16px);
        color: #fff;
        text-transform: capitalize;
        width: max-content;
        @include transparent-border();

        @include max-width() {
            font-size: 14px;
            padding-inline: 10px;
            padding-block: 5px;
        }
    }
}

@mixin storage-intro($img-width, $img-height, $img-mb-width, $img-mb-height, $gap, $gap-mb, $flag) {
    display: flex;
    gap: resize($gap);

    @if $flag == true {
        justify-content: flex-end;
        align-items: center;
    }

    @include max-width() {
        gap: $gap-mb;
        flex-direction: column;
        @if $flag == true {
            .storage-intro__item-content {
                order: -1;
            }
        }
    }

    .storage-intro__item-content {
        width: resize(522px);
        @include max-width() {
            width: 100%;
        }
    }

    .storage-intro__item-heading {
        @include main-heading();
        width: resize(480px);
        text-align: left;
        margin-bottom: resize(40px);
        @include max-width() {
            width: 100%;
            margin-bottom: 17px;
        }
    }

    .storage-intro__item-description {
        @include text-base();
        margin-bottom: resize(30px);
        @include max-width() {
            margin-bottom: 17px;
        }
    }

    .storage-intro__item-link {
        @include golden-btn;
        margin-top: resize(48px);
        @include max-width() {
            margin-bottom: 21px;
        }
    }

    .storage-intro__item-image {
        width: resize($img-width);
        height: resize($img-height);
        object-fit: cover;
        object-position: center;
        @include max-width() {
            width: $img-mb-width;
            height: $img-mb-height;
            margin-inline: auto;
        }
    }
}

@mixin legal-section($img-width, $img-height, $img-mb-width, $img-mb-height, $gap, $gap-mb, $flag, $gradient-color) {
    $parent: &;
    margin-bottom: resize(108px);
    .legal-main__item-banner {
        margin-block: resize(100px) resize(137px);
        text-align: center;
    
        @include max-width() {
            margin-block: 40px 40px;
        }
    
        .legal-main__item-heading {
            @include main-heading();
            margin-bottom: resize(39px);
            @include max-width() {
                margin-bottom: 30px;
            }
        }
    
        .legal-main__item-description {
            @include text-base;
            color: #fff;
            max-width: resize(1000px);
            margin-inline: auto;
        }
    }

    .legal-main__item-content {
        display: flex;
        align-items: center;
        gap: resize($gap);
        @include max-width() {
            flex-direction: column;
            gap: $gap-mb;
        }

        @if $flag == true {
            justify-content: flex-end;
        }

    }

    .legal-main__item-list {
        user-select: none;
        width: resize(498px);
        flex-shrink: 0;
        display: grid;
        gap: resize(20px);
        @include max-width() {
            width: 100%;
            flex-shrink: 1;
            gap: 20px;
        }
        .legal-main__item-list__li {
            background: radial-gradient(circle, $gradient-color 0%, rgba(31, 41, 55, 0.40) 60%);
            backdrop-filter: blur(10px);
            padding: resize(34px);
            @include transparent-border();
            h4 {
                font-size: resize(24px);
                color: #fff;
                font-weight: 700;
                font-family: "Bold";
                margin-bottom: resize(20px);
                @include max-width() {
                    font-size: 20px;
                    text-align: center;
                }
            }

            p {
                @include footer-li();
                color: #D1D5DB;
                @include max-width() {
                    text-align: center;
                }
            }
        }
    }

    .legal-main__item-image {
        width: resize($img-width);
        height: resize($img-height);
        object-fit: cover;
        object-position: center;
        @include max-width() {
            width: $img-mb-width;
            height: $img-mb-height;
            margin-inline: auto;
            order: -1;
        }
    }
}

@mixin legal-intro($img-width, $img-height, $img-mb-width, $img-mb-height, $gap, $gap-mb, $flag) {
    display: flex;
    gap: resize($gap);

    @if $flag == true {
        justify-content: flex-end;
        align-items: center;
    }

    @include max-width() {
        gap: $gap-mb;
        flex-direction: column;
        .legal-intro__item-content {
            order: 2;
        }
    }

    .legal-intro__item-content {
        width: resize(522px);
        @include max-width() {
            width: 100%;
        }
    }

    .legal-intro__item-heading {
        @include main-heading();
        width: resize(480px);
        text-align: left;
        margin-bottom: resize(40px);
        @include max-width() {
            width: 100%;
            margin-bottom: 17px;
        }
    }

    .legal-intro__item-description {
        @include text-base();
        margin-bottom: resize(30px);
        @include max-width() {
            margin-bottom: 17px;
        }
    }

    .legal-intro__item-link {
        @include golden-btn;
        margin-top: resize(48px);
        @include max-width() {
            margin-bottom: 21px;
        }
    }

    .legal-intro__item-image {
        width: resize($img-width);
        height: resize($img-height);
        object-fit: cover;
        object-position: center;
        @include max-width() {
            width: $img-mb-width;
            height: $img-mb-height;
            margin-inline: auto;
        }
    }
}


@mixin accordion-item {
}

@mixin card-item {
}

@mixin header-li() {
    opacity: 0.75;
    color: #fff;
    text-transform: capitalize;
    @include header-fs;
}

@mixin text-base {
    font-size: resize(17px);
    @include max-width() {
        font-size: 15px;
    }
}

@mixin footer-li {
    @include footer-fs();
    color: #fff;
    transition: opacity 0.3s ease;
    font-family: 'Regular';
}

// Font sizes

@mixin large-digit-fs {
    font-size: var(--px52);
}

@mixin main-heading-fs {
    font-size: resize(46px);
    @include max-width() {
        font-size: 24px;
    }
}

@mixin header-fs {
    font-size: resize(15px);
    @include max-width() {
        font-size: 16px;
    }
}

@mixin footer-fs {
    font-size: resize(16px);
    @include max-width() {
        font-size: 16px;
    }
}

@mixin main-heading {
    @include main-heading-fs;
    color: #fff;
    text-align: center;
    font-family: "Bold";
    font-style: normal;
    font-weight: 800;
    line-height: resize(52px);
    @include max-width() {
        line-height: 30px;
    }
}

@mixin seconday-heading {
    color: #fff;
    font-family: "Bold";
    font-style: normal;
    font-weight: 800;
    line-height: resize(52px);
    font-size: resize(34px);
    @include max-width() {
        line-height: 30px;
        font-size: 20px;
    }
}

@mixin centered {
    display: grid;
    place-content: center;
}

@mixin centering {
    padding-inline: resize(153px);
    @include max-width {
        padding-inline: px-to-vw(600px, 30px);
    }
  }

  @mixin transparent-border() {
    border-radius: resize(12px);
    border: resize(1px) solid rgba(255, 255, 255, 0.4);

    @include max-width() {
        border-radius: 12px;
        border-width: 1px;
    }
  }