@import "variables";
@import "mixins";
@import "functions";

.stages-banner {
    margin-block: resize(100px) resize(118px);
    text-align: center;

    @include max-width() {
        margin-block: 40px 40px;
    }

    &__heading {
        @include main-heading();
        width: resize(703px);
        margin-inline: auto;
        margin-bottom: resize(39px);
        @include max-width() {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    &__description {
        @include text-base;
        color: #fff;
        max-width: resize(1000px);
        margin-inline: auto;
    }

    &__link {
        @include golden-btn;
        margin-top: resize(48px);
        margin-inline: auto;
        @include max-width() {
            margin-bottom: 21px;
            margin-top: 41px;
        }
    }
}

.stages-main {
    margin-bottom: resize(150px);
    @include max-width() {
        margin-bottom: 50px;
    }
    &__heading {
        @include main-heading();
        margin-bottom: resize(56px);
        @include max-width() {
            margin-bottom: 30px;
        }
    }

    &__items {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: resize(25px);

        &-img {
            position: absolute;
            right: resize(-124px);
            bottom: resize(-230px);
            width: resize(427px);
            height: resize(427px);
            @include max-width() {
                position: static;
                margin-inline: auto;
                height: auto;
                width: 80vw;
            }
        }

        $sections: (
            (402px, 174px, 281px, rgba(20, 151, 147, 0.4)),
            (548px, 174px, 387px, rgba(29, 36, 172, 0.4)),
            (402px, 174px, 344px, rgba(176, 164, 30, 0.4)),
            (548px, 224px, 444px, rgba(196, 65, 32, 0.4)),
            (548px, 224px, 448px, rgba(29, 160, 62, 0.4))
        );
        .stages-main__item {
            @for $i from 1 through length($sections) {
                &:nth-of-type(#{$i}) {
                    @include stages-main(
                        nth(nth($sections, $i), 1),
                        nth(nth($sections, $i), 2),
                        nth(nth($sections, $i), 3),
                        nth(nth($sections, $i), 4)
                    );
                }
            }
        }
    }
}

.stages-faq {
    margin-bottom: resize(210px);
    @include max-width() {
        margin-bottom: 50px;
    }
    &__heading {
        @include main-heading();
        margin-bottom: resize(131px);
        @include max-width() {
            margin-bottom: 40px;
        }
    }

    &__items {
        display: grid;
        gap: resize(33px);
        @include max-width() {
            gap: 20px;
        }
    }

    &__item {
        @include transparent-border();
        padding-left: resize(40px);
        margin-inline: auto;
        width: resize(963px);
        overflow: hidden;
        @include max-width() {
            padding-left: 20px;
            width: 100%;
        }

        &-title {
            padding-block: resize(28px);
            display: flex;
            position: relative;
            align-items: center;
            gap: resize(34px);
            @include max-width() {
                padding-block: 20px;
                gap: 20px;
            }

            h4 {
                @include large-prg();
                display: block;
                text-transform: capitalize;
                padding-right: resize(90px);
                @include max-width() {
                    font-size: 17px;
                    padding-right: 60px;
                }
            }

            .digit {
                @include large-prg-fs();
                text-transform: uppercase;
                color: #fff;
                @include max-width() {
                    font-size: 17px;
                }
            }

            .stages-faq__item-svg {
                position: absolute;
                cursor: pointer;
                width: resize(86px);
                right: 0;
                top: 0;
                bottom: 0;
                background-color: $blue-color;
                display: flex;
                align-items: center;
                justify-content: center;

                @include max-width() {
                    background-color: transparent;
                    width: 80px;
                }

                svg {
                    width: resize(20px);
                    height: resize(22px);
                    @include max-width() {
                        width: 20px;
                        height: 22px;
                    }
                    #Vertical-Line {
                        transition: transform 0.5s ease;
                    }
                }

                svg.openSvg {
                    #Vertical-Line {
                        transform: rotate(90deg);
                    }
                }
            }
        }

        &-content {
            @include faq-fs();
            padding-inline: resize(58px) resize(74px);
            padding-block: resize(20px) resize(50px);
            display: none;
            color: $prg-color;
            @include max-width() {
                padding-inline: 40px 25px;
                padding-block: 10px 25px;
            }
        }
    }
}