@import "variables";
@import "mixins";
@import "functions";

.text-golden {
    color: $golden-color;
}

html {
    overflow-x: hidden;
    overflow-x: clip;
}

body {
    overflow-x: hidden;
    overflow-x: clip;
    min-height: 100vh;
    background: $main-linear-gr;
    color: #fff;
    font-family: "Regular";
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: resize(60px);
    padding-inline: resize(116px);
    padding-block: resize(53px);
    @include max-width() {
        padding-inline: 25px;
        padding-block: 28px;
    }

    div {
        @include max-width() {
            display: none;
        }
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: resize(60px);
        @include max-width() {
            padding-inline: 25px;
            padding-block: 28px;
        }
    }
    li {
        @include header-li();
        transition: opacity 0.3s ease;

        &:is(:hover, :focus-visible, :active) {
            opacity: 1;
            font-weight: 500;
        }
    }
}

.burger-menu {
    display: none;
    cursor: pointer;
    @include max-width() {
        display: block;
        width: 17px;
        height: 10px;
    }
}

.primary-logo {
    width: resize(227px);
    height: resize(40px);
    @include max-width() {
        width: 143px;
        height: 25px;
    }
}

.popup {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em 1em;
    gap: 80px;
    top: 0;
    translate: -100%;
    background: $main-linear-gr;
    transition: translate 0.5s ease-in-out;
    width: calc(100vw - 100px);
    max-width: 300px;
    border-radius: 0.6em;

    .footer-nav {
        margin-bottom: 0;
    }

    &.open {
        translate: 0%;
    }
}

.wrapper {
    @include centering();
    overflow: visible;
}

.home-banner {
    margin-top: resize(114px - 53px);
    min-height: resize(844px);
    background-position: top center;
    background-size: resize(1000px);
    background-repeat: no-repeat;

    @include max-width() {
        min-height: 483px;
        background-size: 100vw;
    }

    &__title {
        padding-top: resize(100px);
        margin-bottom: resize(42px);
        background-size: resize(720px);
        background-repeat: no-repeat;
        background-position: center;
        
        @include max-width() {
            background-size: 80vw;
        };
        h1 {
            @include main-heading;
            padding-bottom: resize(35px);
        }

        img {
            margin-inline: auto;
            width: resize(69px);
            height: resize(8px);
            @include max-width() {
                width: 31px;
                height: 4px;
            }
        }
    }

    &__content {
        width: resize(800px);
        margin-inline: auto;
        @include max-width() {
            width: 100%;
            padding-inline: 40px;
        }

        p {
            @include text-base;
            color: #fff;
            text-align: center;
        }
    }

    &__actions {
        margin-top: resize(30px);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: resize(20px);
        @include max-width() {
            gap: 8px;
            flex-wrap: wrap;
        }

        a {
            @include golden-btn;
        }
    }
}

.home-intro {
    @include max-width() {
        margin-inline: px-to-vw(600px, 50px);
    }
    > h2 {
        @include main-heading;
        margin-block: resize(28px) resize(39px);
    }

    p:has(.text-golden) {
        width: resize(800px);
        margin-inline: auto;
        @include text-base;
        color: #fff;
        text-align: center;

        @include max-width() {
            width: 100%;
            margin-bottom: 55px;
            text-align: left;
        }
    }

    &__items {
        margin-top: resize(141px);
        margin-bottom: resize(112px);
        display: grid;
        gap: resize(45px);
        @include max-width() {
            margin-top: 55px;
            margin-bottom: 47px;
            gap: 80px;
        }
    }

    $sections: (
        (360px, 360px, 224px, 224px, 158px, 15px, false), 
        (600px, 400px, 351px, 234px, 71px, 44px, true), 
        (240px, 240px, 167px, 167px, 187px, 31px, false)
        );
    &__item {
        @for $i from 1 through length($sections) {
            &:nth-of-type(#{$i}) {
                @include home-section(
                    nth(nth($sections, $i), 1),
                    nth(nth($sections, $i), 2),
                    nth(nth($sections, $i), 3),
                    nth(nth($sections, $i), 4),
                    nth(nth($sections, $i), 5),
                    nth(nth($sections, $i), 6),
                    nth(nth($sections, $i), 7)
                );
            }
        }
    }

    &__advs {
        @include blue-section(110px);
    }
}

.call-to-action {
    min-height: resize(1089px);
    padding-top: resize(487px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include max-width() {
        min-height: 520px;
        padding-top: 159px;
    }

    &__content {
        isolation: isolate;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        border-radius: resize(69px);
        padding-top: resize(58px);
        padding-bottom: resize(114px);
        position: relative;
        z-index: 2;
        background: radial-gradient(circle, rgba(132, 255, 255, 0.7) 0%, rgba(0, 0, 0, 1) 50%);

        @include max-width() {
            border-radius: 17px;
            padding-top: 58px;
            padding-bottom: 78px;
        }

        &:before {
            content: '';
            z-index: -2;
            position: absolute;
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            border-radius: inherit;
            inset: 0;
        }
    }

    &__image {
        margin-inline: auto;
        width: resize(82px);
        height: resize(82px);
        margin-bottom: resize(14px);

        @include max-width() {
            width: 82px;
            height: 82px;
            margin-bottom: 28px;
        }
    }

    &__heading {
        @include main-heading();
        margin-bottom: resize(25px);

        @include max-width() {
            margin-bottom: 32px;
        }
    }

    &__link {
        background-color: $golden-color;
        color: $black-color;
        text-transform: uppercase;
        padding: resize(13px) resize(26px);
        border-radius: 3em;
        margin-inline: auto;
        font-weight: 600;
        font-family: "Medium";
        font-size: resize(16px);
        width: max-content;
        display: block;
        transition: background-color 0.3s ease;

        @include on-hover() {
            background-color: darken($golden-color, 10%);
        }

        @include max-width() {
            font-size: 10px;
            padding: 9px 17px;
        }

    }
}

.footer {
    padding-inline: resize(135px);
    padding-bottom: resize(87px);
    display: flex;
    justify-content: space-between;


    @include max-width() {
        padding-inline: 50px;
        padding-bottom: 60px;
        flex-direction: column;
        margin-top: 120px;
    }

    &-logo {
        width: resize(227px);
        height: resize(40px);
        margin-bottom: resize(43px);
        @include max-width() {
            width: 227px;
            height: 40px;
            margin-bottom: 38px;
        }
    }

    &-info {
        @include max-width() {
            margin-bottom: 40px;
        }
    }

    &-info__description {
        @include footer-fs();
        color: #fff;
        width: resize(256px);
        user-select: none;

        @include max-width() {
            width: 100%;
        }
        &:last-of-type {
            margin-top: resize(63px);
            text-transform: uppercase;
    
            @include max-width() {
                display: none;
            }
        }
    }

    &-nav {
        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: resize(376px);
            gap: resize(30px);
            
            @include max-width() {
                gap: 30px;
                width: 100%;
                grid-template-columns: 1fr;
            }
            li {
                @include footer-li();
                @include on-hover() {
                    opacity: 0.75;
                }
            }
        }
        @include max-width() {
            margin-bottom: 72px;
        }
    }

    &-copyright {
        display: none;
        @include footer-fs();
        color: #fff;
        user-select: none;
        @include max-width() {
            display: inline;
        }
    }
}