$screen-width: 1440px;
$small-screen: 600px;
$large-screen: 2000px;
$main-linear-gr: linear-gradient(117deg, #1d2948 0%, #141d33 38%, #0f1628 50.51%, #050a16 100%);
$golden-color: #facc15;

@function px-to-vw($current-screen-width, $size) {
    @return ($size / $current-screen-width) * 100vw;
}

@function resize-element($initial-screen-width, $initial-size, $target-screen-width) {
    @return ($initial-size / $initial-screen-width) * $target-screen-width;
}

@function calc-clamp(
    $initial-size,
    $initial-screen-width: $screen-width,
    $small-screen-size: $small-screen,
    $large-screen-size: $large-screen
) {
    @return clamp(
        resize-element($initial-screen-width, $initial-size, $small-screen-size),
        px-to-vw($initial-screen-width, $initial-size),
        resize-element($initial-screen-width, $initial-size, $large-screen-size)
    );
}

@mixin golden-btn {
}

@mixin home-section {
}

@mixin services-section {
}

@mixin storage-section {
}

@mixin legal-section {
}

@mixin accordion-item {
}

@mixin card-item {
}

@mixin heading-primary {
}

@mixin header-li($font-size) {
    opacity: 0.75;
    color: #fff;
    text-transform: capitalize;
    font-size: $font-size;
}

@mixin text-base {
}

@mixin footer-li {
}

@mixin centered {
    display: grid;
    place-content: center;
}

body {
    overflow-x: hidden;
    overflow-x: clip;
    min-height: 100vh;
    background: $main-linear-gr;
    color: #fff;
    font-family: "Regular";
}

.header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin-inline: calc-clamp(116px);
    margin-top: calc-clamp(53px);
    li {
        @include header-li(calc-clamp(15px));
        transition: opacity 0.3s ease;

        &:is(:hover, :focus-visible, :active) {
            opacity: 1;
            font-weight: 500;
        }
    }
}

.primary-logo {
    width: calc-clamp(227px);
    height: calc-clamp(40px);
}
